
.carousel {
    margin-bottom: 0;
    padding: -1px 40px 30px 40px;
}
/* Idicadores del Slider Principal */
.carousel-control {
	left: 8px;
    height: 00px;
	width: 40px;
	margin-top: 200px;
	font-size: 26px;
}
.carousel-control.right {
	right: 35px;
}
/* Idicador de slide principal */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 20px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 60px;
}

/* Idicador de ofertas */
.carousel-indicators-oferta {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
.carousel-indicators-oferta li {
	background: #cecece;
}
.carousel-indicators-oferta .active {
	background: #428bca;
}
